<h1>Mushroom Mania</h1>

<form>
  <input type="text" name="userInput" value="filter" ng-model="mushFilt" class="userInput"> <br>
  <!--  -->
  <input type="radio" name="toggle" value="" ng-model="isPoison" class="radio">All
  <input type="radio" name="toggle" value="true" ng-model="isPoison" class="radio">Poisonous
  <input type="radio" name="toggle" value="false" ng-model="isPoison" class="radio">Non-poisonous<br>

</form>

<div ng-repeat="item in info | filter:mushFilt | filter:isPoison"  class="card">
    <div ng-repeat="(k, v) in item" >
      <h4>{{k}}</h4>
      <p>Edible : {{v.edible}}</p>
      <p>Description : {{v.description}}</p>
    </div>
</div>
