body {
    background-color: #6dffa7;
    text-align: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 4em;
}

h4 {
  font-family: 'Monoton', cursive;

}

form {
  font-family: 'Quicksand', sans-serif;

}

p {
  font-family: 'Quicksand', sans-serif;
}

.userInput {
  width: 60%;
  height: 25px;
  margin: 2%;
}

.card {
  border: 1px solid black;
  width: 60%;
  margin: 2% auto;
  border-radius: 5px;
}
